<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :content %>
  <%= form.text_field :content %>

  <%= form.label :end_time %>
  <%= form.date_field :end_time %>

  <%= form.label :status %>
  <%= form.select :status,Task.statuses.keys %>

  <%= form.label :rank %>
  <%= form.select :rank, Task.ranks.keys %>
  <%= form.label :label %>
  <%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) %>

  <%= form.submit '登録する',class: 'btn btn-success' %>
<% end %>
<hr>
<%= link_to "タスク一覧に戻る", tasks_path,class: 'btn btn-info' %>
